html, body {
    margin: 0;
}

canvas {
    position: absolute;
}

#plusGravity {
    background-image: url(images/plus.png);
    background-repeat: no-repeat;
    background-position: left top;
    padding-top: 50px;
    padding-left: 50px;
    margin-top: 263px;
    margin-left: 15px;
    position: absolute;
}
#minusGravity {
    background-image: url(images/minus.png);
    background-repeat: no-repeat;
    background-position: left top;
    padding-top: 50px;
    padding-left: 50px;
    margin-top: 263px;
    margin-left: 65px;
    position: absolute;
}

#plusAmount {
    background-image: url(images/plus.png);
    background-repeat: no-repeat;
    background-position: left top;
    padding-top: 50px;
    padding-left: 50px;
    margin-top: 263px;
    margin-left: 150px;
    position: absolute;
}
#minusAmount {
    background-image: url(images/minus.png);
    background-repeat: no-repeat;
    background-position: left top;
    padding-top: 50px;
    padding-left: 50px;
    margin-top: 263px;
    margin-left: 200px;
    position: absolute;
}